:root {
    --primary-color: #FFE400;
    --primary-color-darker: #d3be03;
}

.main {
    padding-top: 7.5rem;
    padding-bottom: 3rem;
    min-height: 100vh;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 2rem;
    width: 100vw;
}

.btn {
    margin-top: 1rem;
}