.main {
    padding-top: 7.5rem;
    padding-bottom: 3rem;
    min-height: 100vh;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 2rem;
    width: 100vw;
}

.alert {
    width: 100% !important;
}

.jumbotron {
    padding: 1rem 2rem;
}