.main {
    padding-top: 7.5rem;
    padding-bottom: 3rem;
    min-height: 100vh;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 2rem;
    width: 100vw;
}

.alert {
    width: 100% !important;
}

.jumbotron {
    padding: 1rem 2rem;
}

.btn-pdf {
    background-color: #ff0000;
    color: #fff;
}

.btn-pdf:disabled:hover {
    background-color: #ff0000;
}

.btn-pdf:hover {
    background-color: #d40101;
    color: #fff;
}

.btn-excel {
    background-color: #1d6f42;
    color: #fff;
}

.btn-excel:disabled:hover {
    background-color: #1d6f42;
}

.btn-excel:hover {
    background-color: #195e38;
    color: #fff;
}

.list-group-item p {
    margin-bottom: 0;
}

.list-container .col {
    white-space: nowrap;
    overflow-x: hidden;
}

.list-headers {
    padding: 0 1.5rem;
    padding-bottom: 0.5rem;
}